.gradient-text{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 3px #f4cc05af;
    }
    to {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 4px #f4cc05af;
  }
  }

.contact-container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.contact-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}

.contact-end-title h2{
    font-weight: 600;
    color:white;
    font-size: 4vw;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}


.contact-inputs{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: white;
    background-color: black;
    
}

.contact-end textarea{
    height: 100px;
    padding-top: 15px;
}
    
.contact-inputs{
    border: 2px solid whitesmoke;
} 
.contact-inputs::placeholder{
    color : #a9a9a9;
    
}
    
.contact-end button{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    gap: 10px;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}

.contact-end button img{
    height : 15px;
}





@media(max-width: 768px){

    .contact-end-title h2{
        font-size: 8vw;
    }

}

.verification{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.head-contact{
    margin-top: 1.5vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.submit-button {
	display: inline-block;

	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 900;

	position: relative;

	margin: 10px 5px 0 5px;
}



.submit-button::before {
	content: " ";
	display: block;
	width: 250px;
	height: 250px;
    font-weight: 900;
	position: absolute;
	top: 40%;
	left: -100px;
	background: #faf8f8;
	z-index: -10;
	transform: scale(0);
    transition: color 0.5s ease;

	-webkit-transition: 0.4s ease-in-out transform;
	-o-transition: 0.4s ease-in-out transform;
	-ms-transition: 0.4s ease-in-out transform;
	-moz-transition: 0.4s ease-in-out transform;
	transition: 0.4s ease-in-out transform;
}

.submit-button:hover {
	color: black;
    font-weight: 900;
}

.submit-button:hover::before {
	transform: scale(1.5);
    font-weight: 900;
}

.submit-button{
    width: fit-content;
    height: auto;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.head-contact h4 {
    transition: font-size 0.3s ease; 
  }
  
  .head-contact h4:hover {
    font-size: 1.8rem; 
  }

.contact-grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
}

.contact-start{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: start;
}

.icon{
    color: white;
}

.icon img{
    margin: 24px;
}
 
.detail{
    margin-left: 72px;
    margin-top: -24px;
    color: white;

}

.combo{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 80%;

}

.contact-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    aspect-ratio: 1/1;

}

@media screen and (max-width: 1024px){
    .contact-grid{
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .contact-inputs{
        width: 100%;
    }

    .contact-start, .contact-middle, .contact-end{
        width: 60%;
    }

    .contact-middle{
        height: 40vh;
    }
    
}

@media screen  and (max-width: 480px){
    .contact-middle, .contact-start, .contact-end{
        width: 90%;
    }
    
}
