.event-box {
  width:115vw;
  height:115vh;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  margin-left: -7vw;

  position:relative;
  
}
#container24 .event-box > div {
 padding:24px;
  font-size:96px;
  color:#FFF;
  position:absolute;
  margin:0px;
  line-height:.7;
  font-weight:bold;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}
#container24 {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:115vh;
  height:115vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
  height:115vh;
  width:115vw;
}

.one {
  background-color: palevioletred;
  height: 115vh;
}
.two {
  background-color: #49E83E;
}
.three {
  background-color: #EDDE05;
}
.four {
  background-color: #E84B30;
}

.img1{
  background-color: black;
  height:100px;
  width:100px;
  position: absolute;
  top: -100px;
  border: 10px solid white;
}
.button{
  height:20px;
  width:20px;
  background-color: grey;
  position: absolute;
  top:-50px;
  left:48%;
  z-index: 3;
  border-radius: 50%;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}



/* src/BoxContainer.css */
