.details-container {
    position: relative;
    overflow: hidden;
  }
  
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
  }
  
  .details-bg-events {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  .details-content-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .details-content-events img {
    width: 50%;
    height: auto;
  }
  
  .details-events {
    max-width: 800px;
    padding: 20px;
  }
  
  .details-title-events {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .details-section-heading-events {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .text-events {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  