.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
.forphone{
  text-align: center;
  position: relative;
  display: none;
  align-items: center;
  margin-top: 2px;
}
  .card img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }

  .event-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100vw;
    height: 100vh;
    grid-template-rows: repeat(0.5fr 50vh);
    justify-content: center;
    align-items: center;
  }

  .event-imgs img{
    height: 10vh;
    width: 10vw;
    rotate: 10deg;
    
  }

  .event-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .event-title{
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .Name{
    text-align: center;
    vertical-align:middle;
    position: relative;
    color: white;
    height: 100vh;
    margin: auto;
    align-self: center;
    margin-top: 15rem;
border: none;
  }

  @media screen and (max-width: 768px){
  img{
    display: none;
  }
  h1{
    border-bottom: 2px solid #d278f3a2;
  }
  .Name{
    border-bottom: 2px solid #d278f3a2;
      position: relative;
      color: whitesmoke;
      vertical-align: top;
      margin-top: 2vh;
      margin-left: 20vw;
      margin-right: 20vw;
      font-size: 4vw;
    }
.forphone{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10vh;
}
.eventname{
  margin-left: 40vw;
  align-items: center;
  color: whitesmoke;
}
.phoneimg{
  margin-right: 1000vw;
  margin-top: 10vh;
  display: flex;
  align-items: center;
}
  }

 
