.container18 {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: yellow;
  }
  
  
  .panel {
    width: 103vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .purple {
    background: purple;
  }
  .blue {
    background-color: blue;
  }