.teamNew{
    height: fit-content;
}
.team-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: start;
    align-items: center;
}

.team-heading{
    font-size: 3rem;
    color: blue;
    font-weight: bolder;
}

.facultyAdvisors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section-title{
    font-size: 5rem;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.team-overlay{
    position: absolute;
    height: 84vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    padding: 5px;

}

.team-image{
    width: 100vw;
    height: 84vh;
    display: flex;
}

.member-image{
    border-radius: 50%;
    height: 20vw;
}
