.project-heading {
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/70/56/c5/7056c57d97a035af946d8f17cddf16a6.jpg);
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px solid #d278f3a2;
    -webkit-animation: glow2 2s ease-in-out infinite alternate;
    -moz-animation: glow2 2s ease-in-out infinite alternate;
    animation: glow2 2s ease-in-out infinite alternate;
    mix-blend-mode: difference;
    padding: 0px 24px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px; /* Adjust the gap between grid items as needed */
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-title, .project-author {
    margin-top: 10px;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Nulshock Bd';
    color: white;
}

.project-button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

.project-button:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
}

.project-heading .box{
    position: absolute;
    top: 50%;
    left: 50%;
}


@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .project-author, .project-title {
        font-size: 4vw;
    }
    
}

@media  screen and (max-width: 480px) {
    .project-heading {
        font-size: 48px;
    }
    
    .project-title, .project-author {
        font-size: 24px;
    }
    
    .project-button {
        padding: 8px 16px;
    }
    
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

.middle, .go-here {
  position: relative;
  height: 30em;
}
.fa-circle { color: #cddc39; }
.arrow-down { 
  color: white; 
  .fa-stack {
      animation: bounce 2s infinite;
    &:hover {
      animation: none; 
    }
  }
}
