.project-heading{
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    

}

.project-container{
    min-height: 100vh;
    padding: 10vw;
    padding-top: 0;
}



.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid white;
    justify-content: center;
    align-items: center;
    height: 20vh;
    max-height: fit-content;
    cursor: pointer;
}

.project-content:hover{
    background-color: #fff;
    transition: 0.5s;
    border-bottom: 5px solid #7d7979a2;
}

.project-title{
  align-items: center;
    font-size: 2.5vw;
    color: white;
    margin-left: 5vw;
    font-weight: bolder;
}

.project-author{
    font-size: 3vw;
    color: white;
    text-align: right;
    margin-right: 5vw;
}

.popup-content {
    padding: 10px;
    background-color: #fff;
    border-radius: 0px;
  }
  
  .popup-content .project-title {
    margin: 0;
    text-wrap: wrap;
  }
  
  .popup-content img {
    margin: 0;
    width: 70%;
    max-width: 35vw;
    height: 70%;
  }

  .project-link{
    align-items: center;
    text-decoration: none;
    border: none;
    color: rgb(11, 10, 10);
    max-width: 20vw;
    text-align: center;
  }

  .project-link:hover{
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(10, 11, 11);
  }

  .project-content img, .project-help-user{
    display: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px){
    .project-heading{
        font-size: 2.5rem;
    }
    .project-content{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 2rem;
        
    }

    .project-content img{
        display: block;
        width: 100%;
        height: auto;
        animation: fade-in 0.5s ease-in-out forwards;
    }

    .project-title, .project-author{
        margin: 0;
        animation: fade-in 0.5s ease-in-out forwards;
    }
    .project-author{
        margin-bottom: 2rem;
        display: none;
    }

    .project-help-user{
      display: block;
      font-size: 1rem;
      color: white;
      text-align: center;
      margin-bottom: 2rem;
    }

    .project-title{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .popup-content:hover, .popup-content, #popup-root{
        display: none;
    }

    .project-container{
      padding-bottom: 0;
    }
  }
  