.project-heading{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
    

}

.project-container{
    min-height: 100vh;
    padding: 10vw;
    padding-top: 0;
    

}

.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid white;
    justify-content: center;
    align-items: center;
    height: 40vh;
    cursor: pointer;
}

.project-title{
    font-size: 4vw;
    color: white;
    margin-left: 5vw;
    font-weight: bolder;
}

.project-author{
    font-size: 4vw;
    color: white;
    text-align: right;
    margin-right: 5vw;
}

.popup-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .project-link{
    text-decoration: none;
    border: none;
    color: black;
  }

  .project-link:hover{
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    color: blue;
  }
  