
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}



.details-content{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 100%;
    max-height: fit-content;
    cursor: pointer;
}






.details-title {
    align-items: center;
    font-size: 4vw;
    color: white;
    font-weight: bolder;
    text-wrap: wrap;

}

.details-section-heading{
    font-size: 3vw;
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 3px #f4cc05af;
}



.text{
    font-size: 1.5vw;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}


  .details-link{
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.5vw;
    margin-left: 2rem;
  }

  .details-link:hover{
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(244, 246, 247);
  }

  .details-content img{
    display: block;
    width: 36vw;
    height: 36vw;
    animation: fade-in 0.5s ease-in-out forwards;
    margin: 6rem;
  }

  .details-title{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .box{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 2rem;
  }

  .box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .box span:nth-child(2)
  {
    animation-delay: -0.2s;
  }
  
  .box span:nth-child(3)
  {
    animation-delay: -0.4s;
  }
  
  @keyframes animate{
    
    0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  
  .details-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .details-description-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    width: 100%;
    column-gap: 2rem;
  }

  .description-text{
    background-color: #5e5f5c;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 768px){
    .details-heading{
        font-size: 3rem;
    }
    .details-content{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2rem;
    }

    .details-content img{
        display: block;
        min-width: 80%;
        height: auto;
        margin: 0;
        animation: fade-in 0.5s ease-in-out forwards;
    }

    .details-title, .details-section-heading{
        animation: fade-in 0.5s ease-in-out forwards;
        font-size: 2rem;
        margin: 0;
    }
    .details-title{
        margin: 2rem 0;
        display: flex;
    }
    .box{
        display: none;
    }
    .details{
        display: flex;
        flex-direction: column;
      row-gap: 2rem;
    }
    .details-description-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      row-gap: 2rem;
      
    }
    .description-text{
      margin: 0px 32px;
      width: 80%;
    }

    .text{
      font-size: 1rem;
      margin: 0px 16px 16px 16px;
    }
  }

  
  