  .container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgba(6,3,10,1), rgb(20, 10, 37), rgba(2,4,14,1)); */
  }
  
  .item {
    font-size: 2.2rem;
    color: white;
    padding: 1rem;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 3px #f4cc05af;
    }
    to {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 4px #f4cc05af;
  }
  }

  

  .Carousel{
    margin: 0 auto;
    margin-top: -20px;
    width: 75%;
    height: auto;
    /* margin-bottom: 30px; */
}
  
  /* .text1 {
    grid-area: 1 / 1/ 2 / 2;
  }
  
  .text3 {
    grid-area: 1 / 2 / 2 / 2;
  }

  .text4{
    grid-area: 4 / 1 / 5 / 3;
  }

  .text2{
    grid-area: 1 / 2 / 2 / 2;
  } */

  p {
    font-size: 1.2rem;
    text-align: justify;
    color: white;
  }

  .collab{
    text-align: center;
  }

  /* .text8, .text9{
    display: none;
  } */

  /* .text1, .text2, .text3, .text4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: 769px){
    .text8, .text9, .text10{
      display: none;
    }
  } */
  

  


  @media screen and (max-width: 480px) {
    .item {
      font-size: 2rem;
    }
    .about-text{
      font-size: 1rem;
    }
    
  }

  .text1, .text2, .text3, .text4{
    padding: 0;
    margin: 10px;
    background-color:#5e5f5c;
    text-align:justify;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  /* .text2{
    padding: 0;
    margin: 10px;
    background-color:#5e5f5c;
    text-align:justify;
    border-radius: 10px;
  }
  .text3{
    padding: 0;
    margin: 10px;
    background-color:#5e5f5c;
    text-align:justify;
    border-radius: 10px;
  } */
  .about-text{
    padding-left: 20px;
    padding-right: 20px;
  }
  .text4{
    padding: 10px;
    margin: 10px;
    background-color:#5e5f5c;
    border-radius: 10px;
  }
  .about-img{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1024px) {
    .container-about {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .text1, .text2, .text3, .text4{
      width: 60%;
    }
  }
  