 
  .container-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
  }
  
  .item {
    font-size: 2.2rem;
    color: white;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 3px #f4cc05af;
    }
    to {
      text-shadow: 0 0 3px #f4cc05af, 0 0 3px #f4cc05af, 0 0 4px #f4cc05af;
  }
  }

  

  .Carousel{
    margin: 0 auto;
    margin-top: 0px;
    width: 60%;
    height: auto;
}

  p {
    font-size: 1.2rem;
    text-align: justify;
    color: white;
  }

  .collab{
    text-align: center;
    margin-top: -12px;
  }

  .text1, .text2, .text3{
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    background-color:#5e5f5c;
    text-align:justify;
    border-radius: 30px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .about-text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
  .text4{
    align-items: center;
    text-align:justify;
    padding: 0px;
    margin-top: 0px;
    background-color:#5e5f5c;
    border-radius: 30px;
    margin: 12px 270px;
  }
  .about-img{
    /* width: 55%;
    height: auto; */
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .container-about-power {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgba(6,3,10,1), rgb(20, 10, 37), rgba(2,4,14,1)); */
  }

  @media screen and (max-width: 1024px) {
    .container-about, .container-about-power {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .text1, .text2, .text3, .text4{
      width: 60%;
    }
  }

  @media screen and (max-width: 480px) {
    .item {
      font-size: 2rem;
    }
    .about-text{
      font-size: 12px;
    }
    .text1, .text2, .text3, .text4{
      width: 100%;
    }
    p{
      font-size: 1rem;
    } 
  }