*{
  cursor: none;
}

.cursor{
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
    .ssrp-absolute {

        position: relative;
        display: flex;
        flex-direction: column;
    }
}

@font-face {
  font-family: 'nulshock bd'; /* Replace with your font's name */
  src: url('/public/assets/fonts/nulshock\ bd.ttf') format('truetype'); /* Replace with the actual path to your .ttf file */
}
@font-face {
  font-family: 'dahlia-regular'; /* Replace with your font's name */
  src: url('/public/assets/fonts/dahlia-regular.otf') format('truetype'); /* Replace with the actual path to your .ttf file */
}

.typeit-text {
    font-size: 2vw; /* Adjust size as needed */
    text-align: left;
    font-family: 'Nulshock bd' !important;
    src: url('/public/assets/fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* animation: fade-up 5s; */
  }

  .main1{
  animation: fade-up 7s;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 3px #f4f005af;
  }
  to {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 4px #f4f005af;
}
}
  
@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translate(30px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

  .title1, .Slogan1, .typeit-text1 {
    display: flex;
  }
  .title {
    font-family: 'Nulshock bd' !important;
    text-align: left;
    src: url('/public/assets/fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    font-weight: 500;
    
  }

  .Slogan{
    font-family: 'dahlia-regular';
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
    text-align: left;
}
@media screen and (min-width: 1025px) {
  .par{
    display: inline;
  }
  .astro-block{
    position: fixed;
    top: -40vh !important;
    justify-content: end;
  }
  
}
  .glow {
    border-radius: 50%;
    box-shadow: 
      0 0 10px #c3cec3, 
      0 0 20px #d6dcd6, 
      0 0 30px #888a88, 
      0 0 40px #444544, 
      0 0 50px #444544, 
      0 0 60px #444544, 
      0 0 70px #444544, 
      0 0 80px #444544, 
      0 0 90px #444544, 
      0 0 100px #444544;
  }

  @media screen and (max-width: 1024px) {
    .earth-block{
      display: none;
    }
    .astro-block{
      height: 60vh  !important;
      width: 100vw  !important;
      margin-top: -15rem;
      margin-left: 8rem;
      margin-bottom: 4rem;
    }
    .justify-content-end{
      justify-content: end;
    }

    
    
  }

  @media screen and (max-width: 768px) {
    .typeit-text {
      font-size: 6vw; /* Adjust size as needed */
    }
  
    .astro-block{
      height: 60vh  !important;
      width: 100vw  !important;
      margin: 0;
    }

    .cursor{
      display: none;
    }

    .title{
      font-size: 10vw;
    }
  
    .earth-block {
      display: none;
    }
    .Slogan{
      font-size: 6vw;
    }
  }

  

  .target {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
  
    display: inline-block;
    padding: 15px 5px;
    position: relative;
  }
  .target:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .target:hover:after { 
    width: 100%; 
    left: 0; 
  }

   .about-text:hover{
    color: #e6abf6;
    scale: 1.085;
  }
