@media screen and (min-width: 768px) {
    .ssrp-absolute {

        position: relative;
    }
}

@font-face {
  font-family: 'nulshock bd'; /* Replace with your font's name */
  src: url('../../assests/fonts/nulshock bd.ttf') format('truetype'); /* Replace with the actual path to your .ttf file */
}
@font-face {
  font-family: 'dahlia-regular'; /* Replace with your font's name */
  src: url('../../assests/fonts/dahlia-regular.otf') format('truetype'); /* Replace with the actual path to your .ttf file */
}
.typeit-text {
    font-size: 2vw; /* Adjust size as needed */
    text-align: left;
    font-family: 'Nulshock bd' !important;
    src: url('../../assests/fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* animation: fade-up 5s; */
  }


  .main1{
    animation: fade-up 8s;
    

  }
  


@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translate(30px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
  .title {
    font-family: 'Nulshock bd' !important;
    text-align: left;
    src: url('../../assests/fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    font-weight: 500;
    
  }

  .Slogan{
    font-family: 'dahlia-regular';
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
    text-align: left;

}
@media screen and (min-width: 1100px) {
  .par{
    display: inline;
  }
  .astro-block{
    position: fixed;
    top: -40vh !important;
    justify-content: end;
  }
  
}
  .glow {
    border-radius: 50%;
    box-shadow: 
      0 0 10px #c3cec3, 
      0 0 20px #d6dcd6, 
      0 0 30px #888a88, 
      0 0 40px #444544, 
      0 0 50px #444544, 
      0 0 60px #444544, 
      0 0 70px #444544, 
      0 0 80px #444544, 
      0 0 90px #444544, 
      0 0 100px #444544;
  }

  @media screen and (max-width: 1100px) {
    .earth-block{
      display: none;
    }
    .astro-block{
      height: 40vh  !important;
      width: 100vw  !important;
    }

    
    
  }

  @media screen and (max-width: 768px) {
    .typeit-text {
      font-size: 6vw; /* Adjust size as needed */
    }
  
    .astro-block{
      height: 60vh  !important;
      width: 100vw  !important;
    }

    .title{
      font-size: 10vw;
    }
  
    .earth-block {
      display: none;
    }
    .Slogan{
      font-size: 6vw;
    }
  }

  .target {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
  
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .target:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .target:hover:after { 
    width: 100%; 
    left: 0; 
  }