
@media screen and (max-width: 991px){
    .navbar-logo {
        height: 11vw;
        width: fit-content;
        object-fit: contain;
        margin: 0.5vw;
      }

      .nav-item{
        font-size: 1rem !important;
      }

      
}

 
    .navbar-logo {
        max-height: 50px;
        width: auto;
        object-fit: contain;
        padding-right: 5px;
        padding-left: 5px;
    }


.nav-item{
    font-size: 1vw;
}
