.team-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: start;
  align-items: center;
}

.team-heading {
  font-size: 5rem;
  color: #fff;
  font-weight: bolder;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 3px #f4f005af;
  }
  to {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 4px #f4f005af;
}
}

.team-description {
  margin-top: 5vh;
  width: 70vw;
  margin-bottom: 5vh;
  font-size: 1.5rem;
}

.arrow-down {
  font-size: 90px;
}

.navbar {
  position: absolute;
  flex-direction: row;
  padding-top: 0%;
}

.team-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  text-decoration: none;
  padding: 5px;
}

.team-image {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.card-container {
  width: 17vw;
  height: 17vw;
  aspect-ratio: 1/1;
  perspective: 1000px;
  float: left;
}

.card-container div.card-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-container div.card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-container div.card-front .team-member-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-container::after {
  content: "";
  display: table;
  clear: both;
}

.Team {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}

.text-box {
  width: 100%;
  color: #fff;
  position: relative;
  text-align: center;
}

.Team-title {
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: whitesmoke;
}

.Team_section {
  margin-block: 2rem;
  margin-top: 0;
}

.Team_section > * + * {
  margin-block-start: 0.5rem;
}

.card-back {
  background-color: var(--second-color);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name,
.description,
.department {
  color: whitesmoke;
  text-align: center;
}

.Team-department {
  border-bottom: 2px solid #d278f3a2;
  position: relative;
  writing-mode: horizontal-tb;
  color: whitesmoke;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 4vw;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 3px #f4f005af;
  }
  to {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 4px #f4f005af;
}
}

.team-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.Team-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

/* The flip box container - set the width and height to whatever you want. */
.flip-box {
  background-color: transparent;
  width: 16vw;
  aspect-ratio: 1/1;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* name of the members */
.name {
  font-size: 2vw;
  margin-top: 1rem;
  align-items: center;
  color: #fff;
}

.designation {
  margin-top: 0.5rem;
  text-align: center;
  color: #a2a0a0ad;
  margin-bottom: 2rem;
  font-size: 1.5vw;
}

/* Position the front side */
.flip-box-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.head-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.name,
.description {
  font-size: 2vw;
  text-align: center;
}

h2 {
  font-size: 2vw;
  text-align: center;
}

@media screen and (max-width: 768px){
  
  .team-image{
    max-height: 55vh;
    max-width: 100vw;
  }
  .Team-department{
    margin-top: 2vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 3vw;
    font-size: 6vw;
    text-align: center;
  }
  .team-heading{
    margin-top: 2vw;
    font-size: 8vw;
    text-align: center;
  }
  .arrow-down{
    font-size: 5vw;
  }
  .team-description{
    margin-top: 2vw;
    margin-bottom:2vw ;
    font-size: 2vw;
    text-align: center;
  }
  .name{
    font-size: 2vw;
    margin-top: 0.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
  }
  .designation{
    font-size: 1.5vw;
    margin-top: 1vw;
  text-align: center;
  color: #a2a0a0ad;
  margin-bottom: 0.5vw;
  }
  .flip-box{
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .Team-head{
margin-top:3vw ;
  }
}

@media screen and (max-width: 480px){
.team-image{
  max-height: 40vh;
  max-width: 100vw;
}
}

@media screen and (max-width: 576px){
  .team-image{
    max-height: 48vh;
    max-width: 100vw;
  }
  }

@media screen and (min-width: 768px) {
  .card-container {
    max-height: 200px;
    max-width: 200px;
  }

  .flip-box {
    max-height: 300px;
    max-width: 300px;
  }

   h2{
      font-size: 2rem;
    }
    .name,.description{
      font-size: 1.5rem;
    }
  }

/* New CSS for hover effect */
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

/* .social-media-img1{
background-color: rgb(18, 110, 248);
}
.social-media-img2{
background-color: black;
} */

.flip-box:hover .hover-overlay {
  opacity: 1;
}

.hover-icons {
  display: flex;
  gap: 20px;
  position: relative;
}

.hover-icons i {
  color: white;
  font-size: 24px; /* Adjust the size as needed */
}
