 .relative{
  margin: 0;
 }
 
 .Team-Page{
    opacity: 1;
    z-index: 1;
    position: absolute;
    display: flex;
 }

 .team-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.team-heading {
  margin-top: 24px;
  font-size: 5rem;
  color: #ffffff;
  font-weight: bolder;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 3px #f4f005af;
  }
  to {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 4px #f4f005af;
}
}

.team-description {
  margin-top: 5vh;
  width: 70vw;
  margin-bottom: 5vh;
  font-size: 1.5rem;
}

.arrow-down {
  font-size: 90px;
  color: #ffffffce;
}

.team-overlay {
  position: relative;
  height: fit-content;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.477);
  color: #ffffffce;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  text-decoration: none;
  padding: 0;
}

.team-image {
  width: 100vw;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 100vh;
  display: flex;
}

.Team {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}


.Team-title {
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: whitesmoke;
}

.Team_section {
  margin-block: 2rem;
  margin-top: 0;
}

.Team_section > * + * {
  margin-block-start: 0.5rem;
}




.Team-department {
  border-bottom: 2px solid #d278f3a2;
  width: 60vw;
  position: relative;
  writing-mode: horizontal-tb;
  color: whitesmoke;
  margin: 2rem;
  text-align: center;
  font-size: 4vw;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 3px #f4f005af;
  }
  to {
    text-shadow: 0 0 3px #f4f005af, 0 0 3px #f4f005af, 0 0 4px #f4f005af;
}
}

.team-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.Team-head, .Team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 2vh;
}


.head-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-photo {
  width: 16vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

.name, .designation {
  font-size: 2vw;
  font-weight: 600;
  color: whitesmoke;
  margin: 1rem;
  text-align: center;
}

/* Default state: hide .Nav */
.social-media-img-phone{
  display: none;
}

/* .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.hover-overlay {
  opacity: 1;
} */

.hover-icons {
  display: flex;
  gap: 20px;
  position: relative;
}

.hover-icons i {
  color: white;
  font-size: 24px;  
}

.social-media-img:hover{
  height: 6.5vh;
}

.section-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .team-description{
    font-size: 1.2rem;
  }
  .team-heading{
    font-size: 4rem;
  }
  
}

@media screen and (max-width: 576px) {
  .team-description{
    font-size: 1rem;
    width: 100vw;
    padding: 0 1rem;
  }
  .team-image{
    margin-top: 15vh;
  }
  .team-heading{
    font-size: 3rem;
  }
  .head-photo {
    width: 50vw;
  }
  .Team-head, .Team-members{
    flex-direction: column;
  }
  .name, .designation{
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .team-heading{
    font-size: 2rem;
  }
  .team-description{
    font-size: 1rem;
  }
  .team-image{
    margin-top: 15vh;
  }
  
  .Team-department{
    font-size: 2rem;
  }

  .head-photo {
    width: 80vw;
  }
  
}

