  .container {
    padding-top: 10vh;
    min-height: 100vh; /* Minimum height of the container */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto; /* Allow rows to adjust to content */
    /* background: linear-gradient(rgba(6,3,10,1), rgb(20, 10, 37), rgba(2,4,14,1)); */
  }
  
  .item {
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: left;
  }

  .Carousel{
    width: 85%;
    height: auto;
    margin: 0 auto;

}
  
  .text1 {
    grid-area: 1 / 1/ 2 / 2;
    justify-content: center;
    align-items: center;
  }
  
  .text6 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .text3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .text4{
    grid-area: 4 / 1 / 5 / 3;
  }

  .text5{
    grid-area: 1 / 2 / 2 / 3;
  }

  .text2{
    grid-area: 2 / 2 / 3 / 3;
  }

  .text7{
    grid-area: 3 / 2 / 4 / 3;
  }

  .about-img{
    width: 50%;
    height: auto;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px;
    color: white;
  }

  .collab{
    text-align: center;
  }

  

  
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto; /* Adjust rows to accommodate content */
    }
  
    .text1,
    .text2,
    .text3,
    .text4,
    .text5,
    .text6,
    .text7,
    .text8{
      grid-column: 1; /* Adjust to span all columns */
    }
  
    .text1 {
      grid-row: 2; /* Position text1 at the top */
    }
  
    .text2 {
      grid-row: 4; /* Position text2 below text1 */
    }
  
    .text3 {
      grid-row: 6; /* Position earth at the bottom */
    }

    .text4 {
      grid-row: 7; /* Position earth at the bottom */
    }

    .text5 {
      grid-row: 1; /* Position earth at the bottom */
    }

    .text6 {
      grid-row: 3; /* Position earth at the bottom */
    }



    .about-img{
      width: 50%;
      height: auto;
    }

    .item{
      font-size: 8vw;
    }

    .Carousel{
      width: 90vw;
      height: auto;
  }
    

    
  }
  