
.contact-container{
    max-height: 120vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}

.contact-left-title h2{
    font-weight: 600;
    color:white;
    font-size: 5vw;
    margin-bottom: 5px;
    text-align: center;
}
/* .contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:aqua;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.contact-inputs{
    width: 40vw;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: white;
    background-color: black;
    
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
}
    
.contact-inputs{
    border: 2px solid whitesmoke;
} 
.contact-inputs::placeholder{
    color : #a9a9a9;
    
}
    
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: 2px solid #fff;
    background: transparent;
    /*background: linear-gradient(270deg, #040539, #010115);*/
    cursor: pointer;
}

.contact-left button img{
    height : 15px;
}




/*@media(max-width: 768px){
    .contact-inputs{
        width: 80vw;
    }

}*/

.verification{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.head-contact{
    margin-top: 1.5vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}