@media screen and (min-width: 1208px) {
    .ssrp-absolute {
        top: 20vh;

        position: absolute;
    }
}
.typeit-text {
    font-size: 2rem; /* Adjust size as needed */
    text-align: left;
    font-family: 'Nulshock Rg' !important;
    src: url('./fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .typeit-text:nth-child(1) {
    font-family: 'Dhalia bold';
    src: url('./fonts/dahlia-font/dahlia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    font-weight: 500;
  }

  .Slogan{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    text-align: left;

}
  @media screen and (max-width: 510px) {
    .typeit-text #small-type {
      font-size: 1.3rem; /* Adjust size as needed */
      text-align: left;
    }
    .Sloagan{
      font-size: 1.3rem;
    }
  }

  .glow {
    border-radius: 50%;
    box-shadow: 
      0 0 10px #c3cec3, 
      0 0 20px #d6dcd6, 
      0 0 30px #888a88, 
      0 0 40px #444544, 
      0 0 50px #444544, 
      0 0 60px #444544, 
      0 0 70px #444544, 
      0 0 80px #444544, 
      0 0 90px #444544, 
      0 0 100px #444544;
  }
