@media (min-width: 768px) {
    .ssrp-absolute {
        top: 40%;
        position: absolute;
    }
}
.Slogan{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;

}
.typeit-text {
    font-size: 2em; /* Adjust size as needed */
    text-align: left;
  }
  .typeit-text:nth-child(1) {
    font-size: 4em;
  }