@media screen and (min-width: 1208px) {
    .ssrp-absolute {
        top: 40vh;
        position: absolute;
    }
}
.typeit-text {
    font-size: 2em; /* Adjust size as needed */
    text-align: left;
  }
  .typeit-text:nth-child(1) {
    font-size: 4em;
  }
  @media screen and (min-width: 510px) {
    .typeit-text #small-type {
      font-size: 1.3em; /* Adjust size as needed */
      text-align: left;
    }
  }
.Slogan{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-align: left;

}
  .glow {
    border-radius: 50%;
    box-shadow: 
      0 0 10px #c3cec3, 
      0 0 20px #d6dcd6, 
      0 0 30px #888a88, 
      0 0 40px #444544, 
      0 0 50px #444544, 
      0 0 60px #444544, 
      0 0 70px #444544, 
      0 0 80px #444544, 
      0 0 90px #444544, 
      0 0 100px #444544;
  }
.logo {
  width: 100%;
  margin-left: 50%;
  z-index: 1;
}

.logo-div{
  margin-top:20% ;
}
@media screen and (max-width: 575px) {
  .logo {
    width: auto;
    margin-left: 0;
  }
}