/* Marquee styles */
:root {
    --first-color: #999999;
    --second-color: #008090;
  }



  ul{
    list-style: none;
  }
  
  .card-container {
    width: 100%;
    aspect-ratio: 1/1;
    perspective: 1000px;
    float: left;
  
    & div.card-content {
      position: relative;
      height: 100%;
      width: 100%;
      
      transform-style: preserve-3d;
      transition: transform 1s linear 10ms;
    }
  
    & div.card-front,
    div.card-back {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10%;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      
    }
    & div.card-front {
      background-color: var(--first-color);
    }
    & div.card-back {
      background-color: var(--second-color);
      transform: rotateY(180deg);
      

    }
    & div.card-front .team-member-image{
      width: 100%;
      height: 100%;
      border-radius: 10%;
    }
  }
  div.card-container::after {
    content: "";
    display: table;
    clear: both;
  }
  div.card-container:hover div.card-content {
    transform: rotateY(180deg);
  }
  .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }
  
  /* Enable animation */
  .marquee__content {
    animation: scroll 10s linear infinite;
  }
  
  /* Pause on hover */
  .marquee--hover-pause:hover .marquee__content {
    animation-play-state: paused;
  }
  
  /* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
  .marquee--fit-content {
    max-width: fit-content;
  }
  
  /* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
  .marquee--pos-absolute .marquee__content:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @keyframes scroll-abs {
    from {
      transform: translateX(calc(100% + var(--gap)));
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Other page demo styles */
  .marquee__content > * {
    height: 50%;
    width: 50%;
    text-align: center;
  }
  
  .Team {
    box-sizing: border-box;
  }
  
  .Team {
    width: 100%;
    height: 100vh;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
  }
  
  .Team-title {
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: whitesmoke;
  }
  
  .Team_section {
    margin-block: 2rem;
  }
  
  .Team_section > * + * {
    margin-block-start: 0.5rem;
  }

  .card-back{
    background-color: var(--second-color);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .name,.description,.department{
    color: whitesmoke;
  }

  .Team-department{
    color: whitesmoke;
  }

  .Team-head{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    margin-top: 1rem;
  }
  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 30vw;
  aspect-ratio: 1/1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #13315c;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #13315c;
  color: white;
  transform: rotateY(180deg);
}

.head-photo{
  width: 100%;
  height: 100%;

}

  