.Loading {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      font-family: 'Inter', sans-serif;
}

.container1 {
  position: relative;
  display: flex;
  align-items: center;
}

.text-container {
  color: silver;
  font-size: 8vw;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 50px rgba(240, 240, 17, 0.979), 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-container.left {
  left: 90%;
  transform-origin: right center;
}

.text-container.right {
  right: 91%;
  transform-origin: left center;
}

.ball-big {
  position: relative;
  width: 8vw;
  height: 8vw; 
  animation: rotator 3s ease-in-out infinite;
  transform-style: preserve-3d;
}

.plane {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: white;
  opacity: .3;
}

.plane:nth-child(1) {
  transform: rotateY(30deg);
}

.plane:nth-child(2) {
  transform: rotateY(60deg);
}

.plane:nth-child(3) {
  transform: rotateY(90deg);
}

.plane:nth-child(4) {
  transform: rotateY(120deg);
}

.plane:nth-child(5) {
  transform: rotateY(150deg);
}

.plane:nth-child(6) {
  transform: rotateY(180deg);
}

@keyframes rotator {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(80deg) rotateY(180deg) rotateZ(-45deg);
  }
  50% {
    transform: rotateX(80deg) rotateY(180deg) rotateZ(90deg);
  }
  75% {
    transform: rotateX(125deg) rotateY(180deg) rotateZ(135deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@media screen and (max-width: 768px){
  .text-container {
    font-size: 20vw;
  }
  .ball-big {
    width: 30vw;
    height: 30vw;
  }
  .plane {
    width: 30vw;
    height: 30vw;
  }
  .text-container.left {
    left: 100%;
    transform-origin: right center;
    padding: 0;
    margin: 0;
  }
  
  .text-container.right {
    right: 100%;
    transform-origin: left center;
    padding: 0;
    margin: 0;
  }
  
}