
.absolute{
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
    overflow-x:hidden ;
    
}

.relative{
    position:relative;
    padding:0;
    margin-top:18vh;
}
.stars{
    height: 100%;
}

Canvas{
    height: 100%;
    width: 100vw;
}

a, input, textarea{
    cursor: pointer;
}

