
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


*{
  font-family: "Marcellus";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    
   
}
body {
    margin: 0;
      
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow-x: hidden;
}

 ::-webkit-scrollbar{
  width: 1px;
  background:black;
}

code {
  font-family: "Marcellus";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
