.Footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    margin: auto;
    border-top: 1px solid #212121;
    background-color: black;
}

/* footer:hover
{
    animation: fade 0.3s ease;
    opacity: 0.9;
}  */

@media screen  and (min-width: 767px)
{
    .social-media-img:hover
    {
        height: 7vh;
        cursor: pointer;
    }  
    
    .ssrp-logo-img:hover
{
    height: 10vh;
    cursor: pointer;
}   
}

.social-media-img
{
    height: 5vh;
}

.ssrp-logo-img
{
    height: 8vh;
}




