.Footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    margin: auto;
    border-top: 1px solid #212121;
    background-color: black;
}

/* footer:hover
{
    animation: fade 0.3s ease;
    opacity: 0.9;
} */

.social-media-img
{
    height: 5vh;
}


@media screen  and (min-width: 767px)
{
    .social-media-img:hover, .ssrp-logo-img:hover
{
    height: 10vh;
    cursor: pointer;
}


    
}

.ssrp-logo-img
{
    height: 8vh;
}


/* .Footer img:hover{
    scale: 1.2;
} */




